# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.venv/
venv/
env/

# Data
data/pdfs/
data/chroma_db/
backend/data/

# Environment
.env

# IDE
.vscode/
.idea/
.DS_Store

# Notebooks
notebooks/.ipynb_checkpoints/

# Frontend
node_modules/
.pnpm-store/
build/
frontend/dist/
.vite/
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local
.cache/
.temp/
*.local
